* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* inherit font for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* avoid text overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
