@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #1c2321;
  --text-color: #a9b4c2;
  --body-font: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
}

/* inherit font for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* avoid text overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
